[submodule "deps/imgui"]
	path = deps/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "deps/imgui-plot"]
	path = deps/imgui-plot
	url = https://github.com/soulthreads/imgui-plot.git
[submodule "deps/gopt"]
	path = deps/gopt
	url = https://github.com/bermejus/gopt.git
[submodule "deps/stl_reader"]
	path = deps/stl_reader
	url = https://github.com/sreiter/stl_reader.git
